
html {
    background-image: url(../images/hogwarts_good.jpg);
    background-size: cover;
}

body{
    font-family: 'Cherry Swash', sans-serif;
    height: 100vh;
}

.card-title {
    font-family: 'Arapey', sans-serif;
    font-size: 2rem;
}

nav {
    margin-top: .4rem;
    background-color: rgba(128, 128, 128, 0);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 0px 0px 0px rgba(0,0,0,0.12), 0 0px 0px 0 rgba(0,0,0,0.2);
    line-height: 26px;
    height: 18px;
}

.nav-wrapper {
    margin-left: .5rem;
}

.cardCont {
    margin-bottom: 10vh;
}

.cardCol {
    height: 70vh;
}

.blue-grey.darken-1 {
    background-color: rgba(50, 87, 77, 0.801) !important;
}

.card .card-action {
    background-color: rgba(128, 128, 128, 0);
    border-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.cardBack {
    border-radius: 15px;
}

.card .card-action:last-child {
    border-radius: 0 0 20px 20px;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 3px solid rgb(71, 134, 108);
    border-radius: 1px;
    margin-top: 3px;
    -webkit-transition: .2s;
    transition: .2s;
}

.questionBody {
    display: none;
}

.timer{
    color: rgb(159, 255, 159);
    font-size: 2rem;
}

.p{
    margin: 7px 0px;
}

#scoreArea{
    color: white;
    font-size: 1.5rem;
}

[type="checkbox"]+span:not(.lever) {
    color: rgb(156, 172, 187);
    font-size: 1.2rem;
}

.bottomBox{
    line-height: 1;
}

.buttonRow{
    margin-bottom: 0;
}

.breadcrumb::before{
    margin: 0px;
}

.toast {
    background-color: rgba(78, 78, 78, 0.835);
}

.breadcrumb {
    opacity: 0;
    font-size: 1.5rem;
    /* going to have to add a span containing start breadcrumb then append add each one each time.*/
}

@media only screen and (max-width: 600px) {

    .cardCont {
        margin-top: 2.5rem;
    }

}